importFrom(
    XML, names.XMLNode, toString.XMLNode, xmlAttrs, xmlChildren,
    xmlElementsByTagName, xmlGetAttr, xmlName, xmlNamespace,
    xmlNode, xmlRoot, xmlSApply, xmlTreeParse, xmlTree
)

importFrom(
    RCurl, getCurlHandle, getURLContent, postForm, curlPerform, CFILE, close
)

importFrom(
    tools, md5sum
)

importFrom(
    utils, URLencode
)

export(
    "flowRep.ls", "flowRep.get", "flowRep.search",
    "getFlowRepositoryURL", 
    "setFlowRepositoryURL", "setFlowRepositoryCredentials",
    "forgetFlowRepositoryCredentials",
    "fcs.files<-", "attachments<-"
)

export(
    "flowRepData", "fcsProxy", "attachmentProxy", "flowRepOrganization"
)

exportClasses(
    "flowRepData", "fcsProxy", "attachmentProxy", "flowRepOrganization"
)

exportMethods(
    "summary", "is.downloaded", "download", "id", "fcs.files", "attachments",
    "fcs.files<-", "attachments<-", "localpath", "organizations"
)

